*
{
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

body
{
	background-color: #728776;
}

#da_wrap
{
	color: #FFFFFF;
	font-family: helvetica;
	display: inline-block;
}

	#da_wrap img
	{
		display: block;
		margin-top: 4px;
		margin-left: 9px;
		float: left;
	}
	
	#da_wrap #statusBar
	{
		float: left;
		margin-top: 4px;
		margin-left: 5px;
		font-size: 11px;
		margin-right: 10px;
	}
	
		#statusBar .statusItem
		{
			margin-right: 3px;
		}
		
		#statusBar .statusItem.new
		{
			font-weight: bold;
		}
