.tabIcon
{
	vertical-align: text-bottom;
	margin-right: 10px;
}

.colorpicker input
{
	width: auto;
}

label[disabled]
{
	color: gray;
}

.colorInput
{
	display: none;
}

.colorSelect
{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 36px;
	height: 36px;
	background: url("/js/lib/colorpicker/images/select2.png"); 
}

	.colorSelect div
	{
		position: absolute;
		left: 4px;
		top: 4px;
		width: 28px;
		height: 28px;
		background: red url("/js/lib/colorpicker/images/select2.png") center;
	}
