rows
{
    background: url(images/bkg.gif) repeat-x left top;
    color: white;
}

#logo
{
    cursor: pointer;
}

#name
{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

#url
{
    color: lime;
    font-weight: bold;
}
