#dAPanel
{
    min-width: 70px;
}

.msgLabel
{
	margin-left: 2px;
	margin-right: 2px;
}

.msgLabel.newMsg
{
	font-weight: bold;
}

#daLogo
{
	margin-right: 5px;
	margin-left: 2px;
}

#dAPanel.customLook
{
    -moz-appearance: none !important;
    border-width: 1px;
    border-style: solid;
} 

/*TODO: move this in code*/
#dAPanel[mode="error"][showIcon="true"]
{
    background: url(chrome://devany/skin/images/devIcon_error.gif) no-repeat 5px center;
}